<footer class="text-muted py-5">
    <div class="customFooter">
        <div class="body" style="background-color: #003B68; height: 80px;">
            <br>
            <div class="copyright"><span style="color: #c5c5c5; position: absolute; left: 50%; transform: translateX(-50%);">© Panasonic Industrial Devices Sales Korea Co.,Ltd</span></div><br>
            <div class="copyright"><span style="color: #c5c5c5;">&nbsp;</span></div>
            <div style="position: absolute; left: 50%; transform: translateX(-50%); background-color: #003B68;"><a href="https://industrial.panasonic.com/kr/about-panasonic" rel="noopener" target="_blank"><span style="color: white;">회사개요</span></a><span style="color: white;">ㅣ</span> <a href="https://industrial.panasonic.com/kr/sitemap" rel="noopener" target="_blank"><span style="color: white;">사이트맵</span></a><span style="color: white;">ㅣ</span><a href="https://industrial.panasonic.com/kr/terms-of-use" rel="noopener" target="_blank"><span style="color: white;">이용약관</span></a><span style="color: white;">ㅣ</span><a href=https://www3.panasonic.biz/ac/kr/privacy-policy/index.jsp rel="noopener" target="_blank"><span style="color: white;">개인정보 처리방침</span></a><span style="color: white;">ㅣ</span><a href=https://www3.panasonic.biz/ac/kr/cookies-policy/index.jsp rel="noopener" target="_blank"><span style="color: white;">쿠키정책</span></a>
            </div>
        </div>
    </div>
</footer>

<style>
    .customFooter {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0px 0;
        text-align: center;
        color: white;
        font-size: small;
        clear:both;
    }
</style>









