<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-xxl navbar-dark bg-white shadow-lg" aria-label="Seventh navbar example" style="background-color: white; height: 70px;">
    <div class="container-fluid">

        <a href="/"  class="navbar-brand d-flex align-items-center">
            <img src="/logo/logo.png" style="width: 180px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleXxl" style="color: black">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0" >
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color: black">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" style="color: black">Disabled</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto" >
                <li class="nav-right  dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownXxl" data-bs-toggle="dropdown" aria-expanded="false">회원관리</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownXxl">
                        <li><a class="dropdown-item" href="#">내 정보</a></li>
                        <li><a class="dropdown-item" href="#">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>


<!--<nav class="navbar navbar-expand-md fixed-top shadow-lg" style="background-color: white; height: 70px;">-->
<!--    <a href="/"  class="navbar-brand d-flex align-items-center">-->
<!--        <img src="/logo/logo.png" style="width: 180px;">-->
<!--    </a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--            data-target="#navMenu">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="navMenu">-->
<!--        <ul class="navbar-nav ml-auto" >-->
<!--            <li class="nav-item" ></li>-->
<!--            <li class="nav-item" >-->
<!--                <a href="/user/login"  class="nav-link" style="color: black">로그인</a>-->
<!--            </li>-->
<!--            <li class="nav-item" >-->
<!--                <a href="/user/logout" class="nav-link" style="color: black" >로그아웃</a>-->
<!--            </li>-->

<!--            <li class="nav-item" >-->
<!--                <a href="https://idskr.panasonic.com/%EA%B0%9C%EC%9D%B8%EC%A0%95%EB%B3%B4%EC%88%98%EC%A7%91%EB%8F%99%EC%9D%98%EB%B0%8F%ED%9A%8C%EC%9B%90%EA%B0%80%EC%9E%85%EB%8C%80%EB%A6%AC%EC%A0%90?utm_referrer=https%3A%2F%2Fexternal-panasonic1.talentlms.com%2F"  class="nav-link" style="color: black">회원가입</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>